body {
  background: rgb(114, 155, 245);
}

.btn-bk {
  width: 400px;
  height: 100px;
  background: #fff;
  margin: 200px;
  border-radius: 20px;
  box-shadow:
  0 0 0 2px #fff,
  0 0 0 3px #000;
}

.btn-bk::before {
  content: '';
  background: rgb(3, 73, 34);
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 20px 0 0 20px;
   
}

.btn-bk::after {
  content: '';
  background: rgb(146, 4, 4);
  position: absolute;
  width: 200px;
  height: 100px;
  left: 400px;
  border-radius: 0 20px 20px 0;
}

.btn {
  background: rgb(240, 224, 9);
  width: 215px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 200px;
  border-radius: 20px;
  color: #fff;
  text-shadow: 1px 1px 5px rgb(138, 135, 135);
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  line-height: 1.4;
}

input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

label {
	background: rgba(253, 253, 176, 0.151);
  width: 400px;
  height: 100px;
  position: absolute;
  top: 200px;
  left: 201px;
  border-radius: 20px;
  z-index: 1;
}

input[type=checkbox]:checked ~ .to-be-changed {
	transform: translate(185px);
}